* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

header {
    /* border: 1px solid black; */
    background: linear-gradient(to bottom, #e4f9e9a8, #FFFFFF);
    height: 35vh;
}

.navbar {
    background-color: black;
    width: 75%;
    margin: auto;
    height: 15vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-list-item:nth-child(1){
    position: relative;
    
}

.nav-list-item:nth-child(1):hover .dropdown{
    display: block;
}


.nav-list-item:nth-child(2){
    position: relative;
    
}

.nav-list-item:nth-child(2):hover .dropdown{
    display: block;
}



.dropdown{
background-color: rgba(255, 255, 255, 0);
 position: absolute;
  display: none;
}
.dropdownWrap{
     margin-top: 15px;
    border: thin solid white;
    color: black;
   
    width: 300px;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: white;
}

.dropdown .dropdownList{
    border: thin solid rgba(171, 171, 171, 0.646);
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.338);
    border-radius: 10px;
    padding: 30px 10px ;

}
.dropdown ul{
    list-style-type: none;
    line-height: 3;
}

.dropdown li {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


.dropdown li:hover {
    color: #71B0D1;
}



a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #3D8F5F;
}

.navbar-logo {
    width: 50%;
}


.nav-list {
    /* border: 1px solid pink; */
    display: flex;
    gap: 60px;
}

.nav-list-item {
    color: white;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/*  */

#toggle-dropdown {
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    display: none;
    /* display: block; */
    /* top: 100%; */
    top: 80px;
    left: 0;
    width: 100%;
    padding: 10px;
    /* border-radius: 10px; */
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.338);
}

.toggle-list-item {
    font-size: 20px;
    list-style: none;
    margin: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#toggle-dropdown a:hover {
    color: #71B0D1;
}

#toggle-dropdown a {
    color: black;
    text-decoration: none;
   
}



/*  */

.toggle {
    cursor: pointer;
    padding: 10px;
    display: none;
}

.toggle .tog {
    height: 3px;
    width: 25px;
    margin-bottom: 3px;
    /* background-color: #666; */
    background-color: white;
    cursor: pointer;
}




/* section */

.section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 20px;

}

.finance-first {
    width: 50%;
}

.finance-h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 58px;
    font-weight: 700;
    line-height: 70px;
    color: rgb(7, 48, 66);
}

.finance-p {
    margin: 10px 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    color: rgb(71, 84, 103);
}

.button-flex {
    display: flex;
    gap: 20px;
    margin: 30px 0;
    
}

.button-1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: rgb(255, 255, 255);
    background-color: #26C165;
    padding: 20px 30px;
    border-radius: 35px;
}

.button-2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: rgb(38, 193, 101);
    background-color: white;
    padding: 25px 35px;
    border-radius: 35px;
    border-color:  rgb(38, 193, 101);
}


.finance-second{
    width: 50%;
}

.finance-img {
    width: 100%;
}

/* section-license */

.section-2 {
    margin: 70px 0;
    display: flex;
    gap: 30px;
    padding: 30px;
    /* padding: 0 30px; */
}

.licensed {
    font-family: 20px;
    line-height: 28px;
    font-weight: 700;
    color: rgb(62, 76, 89);
}

.sec-h2 {
    width: 25%;
}


.license-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
}


/* section 3 */

.section-3 {
    padding-block: 40px;
}

.about-h2 {
    width: 50%;
    text-align: center;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    color: rgb(7, 48, 66);
}

.about-p {

    width: 80%;
    text-align: center;
    margin: 20px auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: rgb(0, 0, 0);
}

/* section 4 */

.section-4 {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 20px;

}

.manage-first {
    width: 50%;
}


.manage-p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 52px;
    color: rgb(20, 58, 77);
}

.manage-second{
    width: 50%;
}

.manage-img {
    width: 100%;
}


/* section 5 */

.section-5 {
    padding: 20px;
}

.benefits-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 200px;
    margin: 20px 0;
}

.benefits-box {
    padding-left: 10px;
}

.benefits-h4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: rgb(38, 193, 101);
}

.benefits-h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    color: rgb(20, 58, 77);
    margin: 15px 0;
}

.benefits-p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: rgb(71, 84, 103);
}

.img-box {
    display: block;
}

.arrow-img {
    width: 75%;
}

/*  */

.sub-section-4 {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 20px;

}

.benefits-first {
    width: 50%;
}


.benefits-second{
    width: 50%;
}

.lady-img {
    width: 100%;
}


.benefits-h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 32px;
    color: rgb(160, 175, 182);
    margin: 40px 0;
}

.benefits-h2:hover {
    color: rgb(38, 193, 101);
}


/* Section 6 */

.section-6 {
    margin: 50px 0;
}

.investment-div {
    width: 50%;
    margin: auto;
    padding-block: 50px;
}

.investment-h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 77px;
    color: rgb(16, 24, 40);
    text-align: center;
}

.investment-p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: rgb(71, 84, 103);
    text-align: center;
    margin-top: 15px;
}

/* section 7 */

.section-7 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 70px;
    padding: 20px;
    margin: 50px 0;

}

.stocks-first {
    width: 50%;
    padding-left: 20px;
}

.stocks-h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 58px;
    font-size: 40px;
    font-weight: 700;
    line-height: 32px;
    color: rgb(51, 51, 51);
}

.stocks-p {
    margin: 20px 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: rgb(51, 51, 51);
}

.stocks-h2 {
    margin: 40px 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: rgb(71, 84, 103);
}


.button-1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: rgb(255, 255, 255);
    background-color: #26C165;
    padding: 20px 30px;
    border-radius: 35px;
}

.button-2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: rgb(38, 193, 101);
    background-color: white;
    padding: 25px 35px;
    border-radius: 35px;
    border-color:  rgb(38, 193, 101);
}


.stocks-second{
    width: 50%;
    background-color: #EDF8FC;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    padding-block: 20px;
}

.stocks-img {
    width: 65%;
}

hr {
    border: 0.5px thin grey;
    width: 90%;
    margin: 50px auto;
}

/* section 10 */

.section-10 {
    padding-block: 20px;
}

.vision-h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;    
    font-weight: 500;
    line-height: 32px;
    color: rgb(12, 17, 28);
    width: 95%;
    margin: auto;
}

.vision-h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 38px;
    font-weight: 500;
    line-height: 50px;
    color: rgb(20, 58, 77);
    width: 95%;
    margin: auto;
    margin-top: 10px;
}

.vision-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-block: 40px;
}

.vision-img {
    border-radius: 20px;
}


/* FOOTER */

.footer {
    /* border: 2px solid red; */
    margin-top: 150px;
    width: 100%;
    position: relative;
}

.footer-first {
    
    width: 95%;
    /* border: 1px solid forestgreen; */
    /* margin: auto; */
    background-color: #073042;
    border-radius: 20px;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;

    position: absolute;
    top: -100px;
    left: 30px;
}

.start-journey {
    width: 30%;
}

.start-h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    color: rgb(255, 255, 255);
}

.get-mail {
    /* border: 1px solid blue; */
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.form-name {
    padding: 12px 90px 12px 12px;
    border-radius: 8px;

}

.cta {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: rgb(255, 255, 255);
    background-color: #71B0D1;
    padding: 15px 25px;
    border-radius: 10px;
}


/* footer-second */

.footer-second {
    width: 100%;
    padding: 250px 15px 150px 15px;
    background-color: #020D12;
}

.one-footer-second {
    /* border: 1px solid lawngreen; */
    padding: 15px 0;
    width: 50%;
    margin: auto;
}

.achieve-h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 28px;
    color: rgb(255, 255, 255);
    text-align: center;
}


.downlaod-image-flex {
    margin: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.downloa-img {
    width: 25%;
}


.two-footer-second {
    /* border: 1px solid pink; */
    margin: 80px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 5px;
    width: 100%;
}

.two-footer-grid-child {
    width: 100%;
    padding: 20px;
    /* border: 0.2px solid darkorange; */
}

.two-footer-h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: rgb(208, 213, 221);
}


.footer-li {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(234, 236, 240);
    padding-top: 10px;
    list-style: none;
}

.footer-li:hover {
    color: #71B0D1;
}


.three-footer-second {
    /* border: 1px solid lawngreen; */
    padding: 30px 20px;
    width: 100%;
    display: flex;
    /* gap: 50px; */
    justify-content: space-between;
    align-items: center;
}

.sycamore-footer-img {
    width: 13%;
}

.copyright {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(255, 255, 255);
}

.social-flex {
    display: flex;
    gap: 15px;
}

button:hover {
    /* background-color: #71B0D1; */
    /* color: white; */
    transform: translateY(-10px);
    transition: all 0.4s ease;
    cursor: pointer;
}




/* media Queries */

/* Media Queries at 980px */
@media (max-width:980px) {

    /* header */

    header {
        height: 20vh;
    }

    .navbar {
        width: 100%;
        border-radius: 0;
    }

    #toggle-dropdown {
        display: none;
        top: 100px;
    }

    .nav-list {
        display: flex;
        gap: 40px;
        display: none;
    }

    .toggle {
        display: block;
    }

    /* section */

    .section-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 20px;

}

.finance-first {
    width: 100%;
}

.finance-h2 {
    font-size: 38px;
    line-height: 45px;
}

.finance-p {
    margin: 10px 0;
    font-size: 1.2rem;
    line-height: 1.7rem;
    
}

.button-flex {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px auto;
    
}

.button-1 {
    font-size: 18px;
    line-height: 20px;
    padding: 20px 30px;
    border-radius: 35px;
}

.button-2 {
    font-size: 18px;
    line-height: 20px;
    padding: 25px 35px;
    border-radius: 35px;
}


.finance-second{
    width: 95%;
    margin: auto;
}

.finance-img {
    width: 100%;
}
    

/* section 2 - section licenses */


    .section-2 {
        flex-direction: column;
        width: 50%;
        margin: 40px auto;
    
    }

    .sec-h2 {
        width: 100%;
        text-align: center;
    }

    .license-flex {
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
        justify-content: center;
        gap: 40px;
        width: 100%;
        flex-wrap: wrap;
    }

    .license-flex-child:nth-child(1){
        order: 2;
    }

    .license-flex-child:nth-child(2){
        order: 4;
    }

    .license-flex-child:nth-child(4){
        order: 3;
    }

    .license-flex-child:nth-child(3){
        order: 1;
    }


    /* section 3 */

.section-3 {
    padding-block: 40px;
}

.about-h2 {
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 1.82rem;
    line-height: 58px;
    
}

.about-p {

    width: 95%;
    text-align: center;
    margin: 20px auto;
    font-size: 18px;
    line-height: 32px;
    
}


/* section 4 */

.section-4 {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;

}

.manage-first {
    width: 100%;
}


.manage-p {
    font-size: 1.5rem;
    line-height: 2rem;
    
}

.manage-second{
    width: 70%;
    margin: auto;
}

.manage-img {
    width: 100%;
}


/* section 5 */

.section-5 {
    padding: 20px;
}

.benefits-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
}

.benefits-box {
    padding-left: 10px;
    
}

.benefits-h4 {
    font-size: 16px;
    line-height: 24px;
    color: rgb(38, 193, 101);
}

.benefits-h1 {
    font-size: 48px;
    line-height: 48px;
    margin: 15px 0;
}

.benefits-p {
    font-size: 1.25rem;
    line-height: 2rem;
}    

.img-box {
    display: none;
}

/*  */

.sub-section-4 {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;

}

.benefits-first {
    width: 90%;
}


.benefits-second{
    display: none;
}



.benefits-h2 {
    font-size: 26px;
    line-height: 32px;
    margin: 40px 0;
}

.benefits-h2:hover {
    color: rgb(38, 193, 101);
}



/* Section 6 */

.section-6 {
    margin: 50px 0;
    padding-block: 10px;
}

.investment-div {
    width: 100%;
    margin: auto;
    padding-block: 50px;
}

.investment-h2 {
    font-size: 40px;
    line-height: 47px;
    text-align: center;
}

.investment-p {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin-top: 15px;
}




/* section 7, 8 and 9 */

/* section 7 */

.section-7 {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: flex-start;
    gap: 40px;
    padding: 20px;
    margin: 50px 0;

}

.stocks-first {
    width: 100%;
    padding-left: 20px;
}

.stocks-h1 {
    font-size: 1.6rem;
    line-height: 2rem;
}

.stocks-p {
    margin: 20px 0;
    font-size: 18px;
    line-height: 27px;
}

.stocks-h2 {
    margin: 40px 0;
    font-size: 20px;
    line-height: 28px;
}


.button-1 {
    font-size: 18px;
    line-height: 20px;
    color: rgb(255, 255, 255);
    background-color: #26C165;
    padding: 20px 30px;
    border-radius: 35px;
}

.button-2 {
    font-size: 18px;
    line-height: 20px;
    color: rgb(38, 193, 101);
    background-color: white;
    padding: 25px 35px;
    border-radius: 35px;
    border-color:  rgb(38, 193, 101);
}


.stocks-second{
    width: 100%;
    background-color: #EDF8FC;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    padding-block: 20px;
}

.stocks-img {
    width: 30%;
}

hr {
    width: 95%;
    margin: auto;
}


/* section 10 */

.section-10 {
    padding-block: 20px;
}

.vision-h3 {
    font-size: 16px;    
    line-height: 22px;
    width: 95%;
    margin: auto;
}

.vision-h2 {
    font-size: 32px;
    line-height: 50px;
    width: 95%;
    margin: auto;
    margin-top: 10px;
}

.vision-flex {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-block: 40px;
}

.vision-img {
    border-radius: 20px;
}

.vision-img-2 {
    display: none;
}



    /* FOOTER */
.footer-first {
    
    width: 90%;
    padding: 60px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    position: absolute;
    top: -100px;
    left: 31px;
}

.start-journey {
    width: 100%;
}

.start-h2 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 34px;
}

.get-mail {
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.form-form {
    width: 100%;
}

.form-name {
    padding: 15px 90px 15px 12px;
    border-radius: 8px;
    width: 100%;

}

.cta {
    padding: 15px 25px;
    border-radius: 10px;
    width: 100%;
}


.footer-second {
    width: 100%;
    padding: 250px 15px 50px 15px;
    
}


.one-footer-second {
    padding: 15px 0;
    width: 35%;
    margin: 0;
    padding-left: 10px;
}

.achieve-h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.75rem;
    text-align:start;
}


.downlaod-image-flex {
    margin: 20px 0;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.downloa-img {
    width: 35%;
}


.two-footer-second {
    /* border: 1px solid pink; */
    margin: 80px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
    width: 100%;
}

.two-footer-grid-child {
    width: 100%;
    padding: 30px;

}


.three-footer-second {
    /* border: 1px solid lawngreen; */
    padding: 20px 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
}

.sycamore-footer-img {
    width: 17%;
}

.copyright {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(255, 255, 255);
}

.social-flex {
    display: flex;
    gap: 15px;
}



}




/* Media Queries at 690px */
@media (max-width:690px) {

    /* header */

    header {
        height: 25vh;
    }

    .navbar-logo {
        width: 50%;
    }


    .nav-list {
        display: flex;
        gap: 40px;
        display: none;
    }

    .toggle {
        display: block;
    }



    /* Hero section */



/* section 1 */

    .section-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 20px;

}

.finance-first {
    width: 100%;
}

.finance-h2 {
    font-size: 33px;
    line-height: 43px;
}

.finance-p {
    margin: 10px 0;
    font-size: 1.2rem;
    line-height: 1.7rem;
    
}

.button-flex {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px auto;
    
}

.button-1 {
    font-size: 18px;
    line-height: 20px;
    padding: 20px 30px;
    border-radius: 35px;
}

.button-2 {
    font-size: 18px;
    line-height: 20px;
    padding: 25px 35px;
    border-radius: 35px;
}


.finance-second{
    width: 100%;
    margin: auto;
}

.finance-img {
    width: 100%;
}
    

/* section 2 - section license */


    .section-2 {
        flex-direction: column;
        width: 70%;
        margin: 40px auto;
    
    }

    .sec-h2 {
        width: 100%;
        text-align: center;
    }

    .license-flex {
        
        gap: 40px;
        width: 100%;
        flex-wrap: wrap;
    }

    
    /* section 3 */

.section-3 {
    padding-block: 40px;
}

.about-h2 {
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 1.82rem;
    line-height: 58px;
    
}

.about-p {
    width: 95%;
    text-align: center;
    margin: 20px auto;
    font-size: 18px;
    line-height: 32px;
    
}


/* section 4 */

/* section 5 */

.benefits-h1 {
    font-size: 32px;
    line-height: 45px;
    margin: 15px 0;
}


/* section 10 */


.vision-img {
    border-radius: 20px;
    width: 80%;
}


    /* FOOTER */

.footer-first {
    
    width: 90%;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    position: absolute;
    top: -100px;
    left: 21px;
}

.start-journey {
    width: 100%;
}

.start-h2 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 34px;
}

.get-mail {
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.form-form {
    width: 100%;
}

.form-name {
    padding: 15px 90px 15px 12px;
    border-radius: 8px;
    width: 100%;

}

.cta {
    padding: 15px 25px;
    border-radius: 10px;
    width: 100%;
}


.footer-second {
    width: 100%;
    padding: 250px 15px 50px 15px;
    
}


.one-footer-second {
    padding: 15px 0;
    width: 55%;
    margin: 0;
    padding-left: 10px;
}

.achieve-h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.75rem;
    text-align:start;
}


.downlaod-image-flex {
    margin: 20px 0;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.downloa-img {
    width: 40%;
}


.two-footer-second {
    /* border: 1px solid pink; */
    margin: 80px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
    width: 100%;
}

.two-footer-grid-child {
    width: 100%;
    padding: 25px 0;

}


.three-footer-second {
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: flex-start;
}

.sycamore-footer-img {
    width: 29%;
}


.social-flex {
    display: flex;
    gap: 15px;
}



}

